---
title: Ateliers
---

<section class="ateliers">
    <div class="top_space">

    </div>

    {%include titre.html texte_titre= "Ateliers"%}

    <p class="description">
        Les savoir-faire des métiers traditionnels 
        des arts graphiques sous forme de cours, 
        de stages  et d’animations spécifiques.
        Ils mettent ainsi à la porté de tous la pratique 
        d’un ensemble d’ateliers.
        De quoi satisfaire la demande des particuliers, 
        mais aussi des parents désireux de développer la curiosité 
        de leurs enfants ou des enseignants qui trouveront dans notre
        musée un riche complément à leurs actions pédagogiques.
    </p>

    {%include atelier.html titre_atelier="Reliure" date_atelier="19/11/2021"
    description_atelier="Animatrice Sophie Charlot, relieuse d’art. De la reliure traditionnelle à la reliure contemporaine, apprenez à transformer un livre en objet d’art."
    sourcephoto_atelier="assets/img/profil_1.png" sourcephotofond_atelier="assets/img/illu_1.png" lettrine_atelier="J"%}
    
    <img src="assets/img/trait-soulignage.png" alt="Trait titre" class="trait-bloc">

    <div class="flip">
        {%include atelier.html titre_atelier="Enluminure" date_atelier="22/12/2021"
        description_atelier="Découvrez l’art merveilleux de la peinture médiévale avec Florence Arnould."
        sourcephoto_atelier="assets/img/illu_2.png" sourcephotofond_atelier="assets/img/profil_2.png" lettrine_atelier="C"%}
    </div>

    <img src="assets/img/trait-soulignage.png" alt="Trait titre" class="trait-bloc">
    
    {%include atelier.html titre_atelier="Lithographie" date_atelier="29/12/2021"
    description_atelier="La lithographie est sans doute celle qui offre le plus de souplesse et de créativité à l’artiste."
    sourcephoto_atelier="assets/img/illu_3.png" sourcephotofond_atelier="assets/img/profil_3.png" lettrine_atelier="G"%}
    
    <img src="assets/img/trait-soulignage.png" alt="Trait titre" class="trait-bloc">

    <div class="flip">
        {%include atelier.html titre_atelier="Calligraphie" date_atelier="15/01/2022"
        description_atelier="Acquérir les fondamentaux de cet art de la lettre avec Celine Foissey."
        sourcephoto_atelier="assets/img/illu_4.png" sourcephotofond_atelier="assets/img/profil_4.png" lettrine_atelier="A"%}
    </div>

</section>
