---
title: Ateliers
---

<section class="ateliers">
    <div class="top_space">

    </div>

    {%include titre.html texte_titre= "Ateliers"%}

    <p class="description">
        Les savoir-faire des métiers traditionnels 
        des arts graphiques sous forme de cours, 
        de stages  et d’animations spécifiques.
        Ils mettent ainsi à la porté de tous la pratique 
        d’un ensemble d’ateliers.
        De quoi satisfaire la demande des particuliers, 
        mais aussi des parents désireux de développer la curiosité 
        de leurs enfants ou des enseignants qui trouveront dans notre
        musée un riche complément à leurs actions pédagogiques.
    </p>

    {%include atelier.html titre_atelier="Gravure" date_atelier="19/11/2021"
    description_atelier="Initiation ou perfectionnement aux techniques de la gravure en creux avec Hélène Nué, buriniste."
    sourcephoto_atelier="assets/img/photo-1-musee.png" sourcephotofond_atelier="assets/img/photo-2-musee.png"%}
</section>
