---
title: Musée de l'imprimerie de Nantes
---

<section class="page-video-accueil">
    {% include page-video-accueil.html %} 
</section>

<section class="le_musee" id="le-musee">
    {%  include le_musee.html %}
</section>

<section class = "ateliermoment">
    {%include titre.html texte_titre= "Atelier du moment"%}
    {%include atelier.html titre_atelier="Gravure" date_atelier="19/11/2021"
    description_atelier="Initiation ou perfectionnement aux techniques de la gravure en creux avec Hélène Nué, buriniste."
    sourcephoto_atelier="assets/img/illu_0.png" sourcephotofond_atelier="assets/img/profil_0.png" lettrine_atelier="J"%}
</section>

<section>
    <div class="top_space"></div>
    {%include titre.html texte_titre= "Infos Pratiques"%}
    {%include infos_pratiques.html %}
</section>



