---
title: Musée de l'imprimerie de Nantes
---

<!-- Ce bout de code est fait pour vous servir d'exemple, n'oubliez pas de le supprimer quand vous n'en aurez plus besoin ! -->



<section class="page-video-accueil">
    {% include page-video-accueil.html %} 
</section>

<section class="le_musee">
    {%  include le_musee.html %}
</section>

<section class="atelier">
    {%include titre.html texte_titre= "Atelier du moment"%}
    {%include atelier.html titre_atelier="Gravure" date_atelier="19/11/2021"
    description_atelier="Initiation ou perfectionnement aux techniques de la gravure en creux avec Hélène Nué, buriniste."
    sourcephoto_atelier="assets/img/photo-1-musee.png"%}
</section>




