<footer>
    <div class="container marginT padB">
        <div class="d-flex padT">
            <img src="/assets/img/logo-impr.png" alt="Logo">
        </div>
        <div class="row mt-0">
            <div class="col-12 col-lg-4 d-flex">
                <ul>
                    <li class="nav-item mb-2 d-flex mt-3  flex-row">
                        <img src="/assets/img/map.png" alt="map" class="margin">
                        <a href="#" class="nav-link p-0 ">
                                24 quai de la Fosse<br>
                                44000 NANTES 
                        </a>
                    </li>
                    <li class="nav-item mb-2 d-flex mt-3  flex-row ">
                        <img src="/assets/img/Tel.png" alt="map" class="margin">
                        <a href="#" class="nav-link p-0  align-self-center">
                          02 40 73 26 55
                        </a>
                    </li>
                    <li class="nav-item mb-2 d-flex mt-3 flex-row">
                        <img src="/assets/img/mail.png" alt="map" class="margin">
                        <a href="#" class="nav-link p-0  align-self-center">
                            Formulaire de contact
                        </a>
                    </li> 
                    <li class="nav-item mb-2 d-flex mt-3 flex-row social">
                        <img src="/assets/img/Insta.png" alt="insta">
                        <img src="/assets/img/Facebook.png" alt="Facebook">
                    </li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <ul>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Acceuil</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Le musée</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 ">Atelier du moment</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 d">Informations pratiques</a></li>
    
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <form>
                    <p>Newsletter</p>
                    <div class="d-flex w-100 gap-2 ">
                      <label for="newsletter1" class="visually-hidden">Adresse Email</label>
                      <input id="newsletter1" type="text" class="form-control" placeholder="Adresse Email">
                      <button class="btn btn-primary" type="button">Envoyez</button>
                    </div>
                    <ul class="mText">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  mText">Mentions légales</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0  mText">Politique de confidentialité</a></li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</footer>