<header class="linear-gradient">
      
    <ul class="gauche" class="soulignement">
        <li> <a href="https://www.google.fr"> <img src="assets/img/handicapé 1.png" alt="handicapé" class="handicape"></a></li>
        <li class="fr"> <a href="https://www.google.fr">FR</a></li>
    </ul>

    <img src="assets/img/LogoImprPR2 1.png" alt="Logo-imprimerie" class="logo" >

    <ul class="droite" class="soulignement">
        <li> <a href="https://www.google.fr">Atelier</a></li>
        <li class="galerie"> <a href="https://www.google.fr">Galerie </a></li>
        <li class="informations"> <a href="https://www.google.fr">Informations</a></li>
    </ul>

</header>