<header class="linear-gradient container-fluid Pad">
  <img src="/assets/img/menu.svg" alt="menu" class="menu">

  <nav class="navbar navbar-expand-lg boost">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"><img src="/assets/img/menu.svg" alt="" class="menuPo"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px; background-color: transparent; border: solid; color: white;">
        <li class="nav-item">
          <a class="nav-link active colorT" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
      </ul>
    </div>
    <img src="/assets/img/logo-impr.png" alt="logo" class="LogoPort">
  </nav>
  <div id="menuport" class="menucenter">
    <ul class="gauche" class="soulignement dropdown">
      <li class="gaucheP " id="menu">
        <a href="https://www.google.fr">
          <img src="assets/img/handicapé 1.png" alt="handicapé" class="handicape">
        </a>
        <ul>
          <li><a href="#" class="hovermenu">Visuel</a></li>
        </ul>
      <li class="fr gaucheP"> <a href="https://www.google.fr">FR</a>
        <ul>
          <li><a href="#" class="hovermenu">EN</a></li>
        </ul>
      </li>
  </div>
  </li>
  </ul>
  <a href="index">
    <img src="assets/img/LogoImprPR2 1.png" alt="Logo-imprimerie" class="logo">
  </a>
  </li>
  </ul>
  <ul class="droite" class="soulignement">
    <div id="menuport">
      <ul class="gauche" class="soulignement dropdown">
        <li class="fr gaucheP"> <a href="ateliers.html" class="AtelierMenu">Atelier</a>
          <ul>
            <li><a href="ateliers.html" class="hovermenu">Adultes</a></li>
            <li><a href="ateliers.html" class="hovermenu">Enfants</a></li>
          </ul>
        </li>
    </div>
    <li class="galerie"> <a href="galerie">Galerie </a></li>
    <li class="informations"> <a href="https://www.google.fr">Informations</a></li>
  </ul>
</header>