<div class="infos_pratiques">
    <div class="boutons_infos">
        <div class="Horaires">
            <div class="box">
                <p>Horaires</p>
            </div>
        </div>
        <div class="Tarifs">
            <div class="box">
                <p>Tarifs</p>
            </div>
        </div>
        <div class="Accès">
            <div class="box">
                <p>Accès</p>
            </div>
        </div>
    </div>
    <div class="contenu">
        <div class="box">
            <div class="Horaires">
                <p> 10h ------> 12h<br/>
                    14h30-----> 19h



                </p>
            </div>
            <div class="Tarifs">
    
            </div>
            <div class="Accès">
        </div>
    </div>
</div>