<div class="infos_pratiques">
    <div class="boutons_infos">
        <a class="Horaires" href="#Horaires">
            <div class="box">
                <p>Horaires</p>
            </div>
        </a>
        <a class="Tarifs" href="#Tarifs">
            <div class="box">
                <p>Tarifs</p>
            </div>
        </a>
        <a class="Accès" href="#Accès">
            <div class="box">
                <p>Accès</p>
            </div>
        </a>
    </div>
    <div class="contenu">
        <div class="box">
            <div class="Horaires" id="Horaires">
                <div class = "top"> 
                    <div class="heures"><div class="heure1">10h</div> <img class="fleche-blanche" src="/assets/img/fleche-blanche.svg" alt="Fleche blanche"/> <div class="heure2">12h30</div><br/>
                    <div class="heure1">14h</div> <img class="fleche-blanche" src="/assets/img/fleche-blanche.svg" alt="Fleche blanche"/> <div class="heure2">17h30</div><br/>
                    </div><br/>

                    <p>Le musée vous accueil du lundi au samedi<br/>
                    (juillet et août, du lundi au vendredi)</p>
                    <br/>
                    <p>
                        Visite guidée tous les jours à 14h30
                    </p>
                </div>
            </div>
            <div class="Tarifs" id="Tarifs">
                <div class="tableau"><p>Adultes</p>
                    <p>8€</p>
                    <img class="ligne1" src="/assets/img/yellow_line.svg" alt="ligne jaune">
                    <p>Scolaires & Etudiants</p>
                    <p>5€</p>
                    <img class="ligne2" src="/assets/img/yellow_line.svg" alt="ligne jaune">
                    <p>Moins de 5 ans</p>
                    <p>Gratuit</p>
                </div>
                <div class="gratuité"> <p> Gratuité Pass :</p>
                    <ul>
                        <li>Culture et Sports</li>
                        <li>Classes et Groupes</li>
                        <li>Formations et Tourisme</li>
                        <li>Cartes entrée gratuite</li>
                        <li>Employés municipaux</li>
                        <li>Membres RéMut</li>
                        <li>Pass Nantes</li>
                    </ul>
                </div>
               
                
            </div>
            <div class="Accès" id="Accès">
                <div>
                    <p> 
                        Adresse : <br>
                        24 quai de la Fosse <br>
                        44000 NANTES <br>
                        <br>
                        Tramway : <br>
                        Arrêt Médiathèque ligne : <br> 
                        1 Parking couvert “Médiathèque” <br>
                        <br>
                        Voitures : <br> 
                        Parking ouvert de l’Ile Gloriette pour les cars <br>et voitures. 
                    </p>
                    
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2710.2920710481203!2d-1.564290384419013!3d47.21086717916033!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4805ec02f7edb9ff%3A0x3c941bd588e833bf!2sMus%C3%A9e%20de%20l&#39;Imprimerie!5e0!3m2!1sfr!2sfr!4v1638635538023!5m2!1sfr!2sfr" width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>