<div class="infos_pratiques">
    <div class="boutons_infos">
        <a class="Horaires" href="#Horaires">
            <div class="box">
                <p>Horaires</p>
            </div>
        </a>
        <a class="Tarifs" href="#trf">
            <div class="box">
                <p>Tarifs</p>
            </div>
        </a>
        <div class="Accès">
            <div class="box">
                <p>Accès</p>
            </div>
        </div>
    </div>
    <div class="contenu">
        <div class="box">
            <div class="Horaires" id="Horaires">
                <div> 
                    <div class="heures">10h <img class="fleche-blanche" src="/assets/img/fleche-blanche.svg" alt="Fleche blanche"/> 12h00<br/>
                    14h <img class="fleche-blanche" src="/assets/img/fleche-blanche.svg" alt="Fleche blanche"/> 17h30<br/>
                    </div><br/>

                    <p>Le musée vous accueil du lundi au samedi<br/>
                    (juillet et août, du lundi au vendredi)</p>
                </div>
                <p class="droite">
                    Visite guidée tous les jours à 14h30
                </p>
            </div>
            <div class="Tarifs" id="trf">
                <img src="/assets/img/triche.png" alt="triche">
            </div>
            <div class="Accès">
            </div>
        </div>
    </div>
</div>