<section class= "le_musee">
    <h2>
        Le musée
    </h2>

    <div>
        <p>
            L’idée de préserver ce qui fut cinq cents ans de communication de la pensée, germa dans l’esprit de deux hommes, 
            Sylvain Chiffoleau et Robert Colombeau. Une solide équipe de professionnels de l’imprimerie, toutes spécialités confondues,
            œuvra des semaines durant pour que le projet prenne corps. C’est ainsi que le 6 décembre 1986 le Musée municipal de l’imprimerie 
            ouvrit ses portes.
        </p>
        <img src="assets/img/photo-1-musee.png">
    </div>
    

</section>