
<section class= "le_musee">
    <div class="le-musee">
        <div>
            {% include titre.html texte_titre="Le musée"%} 
        </div>
        <div class="blocs">
            <div class="bloc1">
                <p class ="para">
                    L’idée de préserver ce qui fut cinq cents ans de communication de la pensée, 
                    germa dans l’esprit de deux hommes, Sylvain Chiffoleau et Robert Colombeau. 
                    Une solide équipe de professionnels de l’imprimerie, toutes spécialités confondues, 
                    œuvra des semaines durant pour que le projet prenne corps. C’est ainsi que le 6 décembre 
                    1986 le Musée municipal de l’imprimerie ouvrit ses portes.

                </p>
                <img src="assets/img/photo-1-musee.png" alt="Photographie du musée">
                <p class="lettrine">
                    J
                </p>
            </div>
            <img src="assets/img/trait-soulignage.png" alt="Trait titre" class="trait-bloc">
            <div class="bloc2">
                <p class= "para">
                    Le fil conducteur qui permit de réunir les collections présentées dans les différents ateliers, 
                    de la fabrication du papier en passant par la composition et l’impression du texte et de ses 
                    illustrations pour aboutir à la reliure-dorure. « Ensemble indissociable, le Musée de l’imprimerie 
                    de Nantes couvre les domaines culturel et artistique, historique et patrimonial, éducatif et pédagogique, 
                    social et citoyen. Il s’adresse à tous les âges et à toutes les couches de la population. »
                </p>
                <img src="assets/img/photo-2-musee.png" alt="Photographie du musée">
                <p class="lettrine">
                    G
                </p>
            </div>
            <img src="assets/img/trait-soulignage.png" alt="Trait titre" class="trait-bloc2">
        </div>
    </div>

</section>