<section class="page-video-accueil">
    <div class="video-bg">
        <div class= degrade></div>
        <div class="texte-accueil">
            <h1>
                Le musée de l'imprimerie,
            </h1>
            <h2 class="titre-txt-accueil">
                l’un des lieux de visite incontournables de Nantes
            </h2>
        </div>
        <div class="bouton-parent">
            {% include button_principal.html text_button="Accéder au musée" %}
        </div>     
        <div class="box-bas" >
            <img src="/assets/img/fleche-doré.png" alt="Fleche doré bas de page" class="fleche-bas-page">
            <h3>EN SAVOIR PLUS</h3>
        </div>

        <video autoplay muted loop src="/assets/img/video-bg.mp4" type="video/mp4">
        </video> 
    </div>
</section>

