a<section >
    <div class="video-bg">
        <div class= degrade></div>
        <div class="texte-accueil">
            <h1>
                Le musée de l'imprimerie,
            </h1>
            <h2 class="titre-txt-accueil">
                l’un des lieux de visite incontournables de Nantes
            </h2>
            <a href="https://css-tricks.com/"  target="blank" class="bouton">
                <p class="texte-bouton">Accéder au musée</p>
                <img class="trait-bouton" src="/assets/img/trait-bouton.png" alt="Trait du bouton"/>
                <img class="fleche-bouton" src="/assets/img/fleche-bouton.png" alt="Fleche du bouton"/>
            </a>
        </div>       
        <div class="box-bas" >
            <img src="/assets/img/fleche-doré.png" alt="Fleche doré bas de page" class="fleche-bas-page">
            <h3>EN SAVOIR PLUS</h3>
        </div>

        <video autoplay muted loop src="/assets/img/video-bg.mp4" type="video/mp4">
        </video> 
    </div>
</section>

