<section >
    <div class="video-bg">
        <div class= degrade></div>
        <div class="texte-accueil">
        <h1>
            Le musée de l'imprimerie,
        </h1>
        <h2 class="titre-txt-accueil">
         l’un des lieux de visite incontournables de Nantes
        </h2>
        <a>
            <div class="bouton">
                <p class="texte-bouton">Accéder au musée</p>
                <img class="trait-bouton" src="src/img/trait-bouton.png" alt="Trait du bouton"/>
            </div>
            </div>
        </a>
        
        <video autoplay muted loop>
            <source src="src/img/video-bg.mp4" type="video/mp4">
        </video>
   </div>
</section>