@import "base/reset";

@import "abstracts/variables";
@import "base/common";

@import "components/button_principal";
@import "components/page-video-accueil";
@import "components/header";
@import "components/footer";
@import "components/le_musee";
@import "components/titre";
@import "components/atelier";
@import "components/galerie";
@import "components/ateliers";
@import "components/infos_pratiques";
@import "components/404";


@font-face {
    font-family: 'Chomsky';
    src:url('Chomsky.ttf.woff') format('woff'),
        url('Chomsky.ttf.svg#Chomsky') format('svg'),
        url('Chomsky.ttf.eot'),
        url('Chomsky.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


body {
    background-color:black;
    color: white;
    padding:0;
    margin:0;
}