.constru{

    .box{
        left: 50%;
        position:absolute;
        width: 50%;
        min-width: fit-content; 
        height: fit-content;
        background-color: rgb(18,18,18);        
        text-align: center;
        top: 50vh;
        transform: translate(-50%);


        h2{
            margin: auto;
            margin-top: 5%;
        }

        p{
            margin-top: 5%;
            font-size: 18px;
        }

        a{
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }

    .wrapper{
        height: 100vh;
        overflow: hidden;
        margin-bottom: -24vh;

        img{
            z-index: -4;
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }
    }

    footer{
        top: -150px;
    }
}