.ateliers .top_space{
    height: 120px;
}

.ateliers .description{
    color: white;
    font-family: Rufina;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 230%;
    width: 710px;
    height: 325px;
    margin-left: 8%;
}