.atelier .bloc_info{
    background-color: rgb(24,24,24);
}

.atelier h2{
    font-family: Rufina;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
}

.atelier h3{
    font-family: Rufina;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}