.atelier{
    margin-left: 12%;
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(9, 8%);
    grid-template-rows: repeat(8, 12%);
    grid-column-gap: 10px;
    overflow: hidden;
}

.atelier .bloc_info{
    background-color: rgb(24,24,24);
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    padding-top: 50px;
    padding-bottom: 8%;
    padding-right: 10%;
    padding-left: 4%;
    grid-template-columns: repeat(5, 80px);
    grid-column-gap: 1%;
    grid-template-rows: 25% 25%;
    grid-row-gap: 10%;
    grid-row-start: 2;
    grid-row-end: 7;
    width: 570px;
    
}

.atelier h2{
    margin:0;
    font-family: Rufina;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    grid-row-start: 1;
}

.atelier h3{
    font-family: Rufina;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    grid-column-start: 3;
}

.bloc_info img{
    width: 155px;
    height: 155px;
    grid-column-start: 5;

}

.bloc_info p{
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
}

.atelier .illustration{
    z-index: -1;
    grid-column-start: 5;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 10;
    object-fit: cover;
    height: 400px;
    max-width: 50vw;
    background-position: center;
    position: relative;
    overflow: hidden;


}

.atelier .illustration img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   
}

.atelier_parent .bouton-parent{
    margin-left: 15%;
    margin-top: -190px;
}

.bouton_atelierprin{
    position: relative;
    margin-top: -50px;
    width:185px;
    height: 50px;
    background-color: black;
    z-index: -1;
}



