.margin{
    margin-right: 1em;
}

.centerT{
    text-align: center;
}

.padding {
    padding: 0%;
}

footer {
    background-color:#181818;
}

.marginL{
    margin-left: 5em;
}
.marginLogo{
    margin-right: 3em;
}

.row {
    margin-top: 15%;
    margin-right: 0%;
}
.social{
    img{
        max-height: 50px;
        
    }
}