

.margin{
    margin-right: 1em;
}
.marginT{
    margin-top: 10em;
}

.padT{
 padding-top: 10em;
}

.padB{
    padding-bottom: 10em;
}

.mText{
    text-align: left;
    li {
        margin-left: 0%;
    }
}

.centerT{
    text-align: center;
}

.padding {
    padding: 0%;
}

footer {
    background-color:#181818;
    p{
        letter-spacing: 0.265em;
    }
    a:hover{
        
    }
}

footer li {

    margin: 20px;

}

.marginL{
    margin-left: 5em;
}
.marginLogo{
    margin-right: 3em;
}

.row {
    margin-top: 15%;
    margin-right: 0%;
}
.social{
    img{
        max-height: 50px;
        
    }
}
.left{
    margin-left: 3em;
}

.nav-link{
    color: white;
}


a{
    color: aliceblue;
}

a:hover{
    color:#ffffff;
}

@media (max-width: 375px) 
{ 
    footer, a, ul, img, li{ 
        text-align: center;
        justify-content: center;
    }
    .mText{
        text-align: center;
    }
    .mobile{
        justify-content: center;
    }
    .left{
        margin-left: 1em;
    }
    .mobileMargin{
        margin-top: 3em;
    }
    

}
.btn-primary{
    color: white;
    background-color: rgba(202, 172, 53, 0.50);
    border-color: rgb(202, 172, 53);
}
.btn-primary:hover{
    background-color: black;
    border-color: white;
}

.btn-primary:active{
    color: white;
    background-color: rgba(202, 172, 53, 0.50);
    border-color: rgb(202, 172, 53); 
    outline-color: white; 
}

.btn-primary:focus{
    color: white;
    background-color: rgba(202, 172, 53, 0.50);
    border-color: rgb(202, 172, 53);  
    outline-color: white; 
    box-shadow: white;
}

.btn-primary:visited{
    color: white;
    background-color: rgba(202, 172, 53, 0.50);
    border-color: rgb(202, 172, 53);
    outline-color: white;    
}