.margin{
    margin-right: 1em;
}

.footerSite{
    
}

.centerT{
    text-align: center;
}

.padding {
    padding: 0%;
}

footer {
    background-color:#181818;
}

.marginL{
    margin-left: 5em;
}

.row {
    margin-top: 15%;
    margin-right: 0%;
}