.topG{
 margin-top: -0.5%;
}

#LigneGalerie{
 width: 100%;
 padding-bottom: 57px;
}

.LigneGalerieP{
  width: 100%;
  padding: 65px 0px;
}

.LigneGaleriePe{
  width: 100%;
  padding-bottom: 50px;
}

.esp{
  margin-top: 24px;
}

.colone{
  margin-top: 22px;
}

#photo1{
  width: 100%;
  height: 486px;
  object-fit: cover;
}

#photo2{
  width: 100%;
  height: 384px;
  object-fit: cover;
}

#photo3{
  width: 100%;
  height: 536px;
  object-fit: cover;
}

#photo4{
  width: 100%;
  height: 498px;
  object-fit: cover;
}

#photo5{
  width: 100%;
  height: 440px;
  object-fit: cover;
}

#photo6{
  width: 100%;
  height: 699px;
  object-fit: cover;
}

#photo7{
  width: 100%;
  height: 477px;
  object-fit: cover;
}

@media screen and (max-width:1000px) 
{
  #LigneGalerie{
   display: none;
   }

  .LigneGalerieP{
    display: none;
  }
  
  .LigneGaleriePe{
    display: none;
  }

  #photo1{
    width: 100%;
    height: 121px;
    object-fit: cover;
  }

  #photo2{
    width: 100%;
    height: 102px;
    object-fit: cover;
  }
  
  #photo3{
    width: 100%;
    height: 143px;
    object-fit: cover;
  }
  
  #photo4{
    width: 100%;
    height: 133px;
    object-fit: cover;
  }
  
  #photo5{
    width: 100%;
    height: 132px;
    padding-bottom: 24px;
    object-fit: cover;
  }
  
  #photo6{
    width: 100%;
    height: 254px;
    object-fit: cover;
  }
  
  #photo7{
    width: 100%;
    height: 278px;
    object-fit: cover;
  }
  
  
}