header {
  position: fixed;
  width: 100%;
  height: 15vh;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  color: #fff;
  padding: 0 2rem;
  z-index: 20;
}

a{
  font-size: 18px;
}

nav{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  display: flex;
  width: 40%;
  img{
    margin-left: 192px;
  }
}

.menu{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 360px;
}
.accueilP{
  display: none;
}

.access{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin-left: 10px;
  a{
    margin-left: 50px;
  }
}


.toggle {
  display: none;
}

menu{
  display: none;
}

#menuport ul {
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
  }
 #menuport li {
  float:left;
  margin:auto;
  padding:0;

  }
.hovermenu {
    background-color: black;
    padding: 5em;
    border: white;
    border: solid;
    border-width: 1px;

}

.gauche{
justify-content: center;
}

.boost {
display: none;
}


 #menuport li a {
  display:block;
  width:100px;
  color:white;
  text-decoration:none;
  padding:5px;
  }
 #menuport li a:hover {
  color:#FFD700;
  }
  #menuport ul li ul {
      display:none;
      }
  #menuport ul li:hover ul {
      display:block;
  }
  #menuport li:hover ul li {
      float:none;
  }
  #menuport li ul {
      position:absolute;
      }

@media all and (max-width: 991px) {

  header {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }
  .accueilP{
    display: block;
  }

  .tiret{
    width: 100px;
    height: 2px;
    background-color: white;
  }

  .toggle {
      display: flex;
      font-size: 2rem;
      cursor: pointer;
      z-index: 20;
      .fermer {
        display: none;
      }
  }
  
  .open{
    .fermer{
      display: block;
    }
    .ouvrir{
      display: none;
    }
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    transform: translateX(-100%);
    transition: transform 1s;
    a{
      margin-top: 50px;
      margin-bottom: 50px;
     }
}

.menu li{
    margin-top: 50px;
    margin-bottom: 50px;
}
    
.open .menu {
  transform: translateX(0);
}
.access{
  display: none;
}
.logo img{
  margin-left:0%;
}
.logo{
  width: 80%;
}
}