header {
  position: fixed;
  z-index: 15;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  font-family: Rufina;
  width: 100%;
  background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
  width: 100%;
  height: 30vh;
}

header ul {
  padding-left: 0;
}

header a {
  color: aliceblue;
  transition: color 0.25s ease;
  z-index: 20;
}

header a:hover {
  color: #caac35;
}

.droite {
  display: flex;
  margin-right: 12%;
}

header li {
  margin: 20px;
  list-style: none;
}

.gauche {
  display: flex;
  margin-left: 2%;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-63%);
}

.handicape {
  width: 20px;
  height: 20px;
}

.galerie {
  margin-right: 20%;
  margin-left: 20%;
}

.fr {
  margin-left: 35%;
}

.img {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .video {
    display: none;
  }
  .img {
    display: block;
  }
}

.menu{
    display: none;
}

#menu ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
    }
   #menu li {
    float:left;
    margin:auto;
    padding:0;
    background-color:black;
    }
   #menu li a {
    display:block;
    width:100px;
    color:white;
    text-decoration:none;
    padding:5px;
    }
   #menu li a:hover {
    color:#FFD700;
    }
    #menu ul li ul {
        display:none;
        }
    #menu ul li:hover ul {
        display:block;
    }
    #menu li:hover ul li {
        float:none;
    }
    #menu li ul {
        position:absolute;
        }
 
@media screen and (max-width: 375px) 
{ 
    
  .droite{
      display: none;
  }
  .gaucheP{
      display: none;
  }
  .logo{
      margin-left: 1.5em;
      width: 50%;
      margin-top: 1.5em;
  }
  .menu{
      display: block;
      margin-left: 1.5em;
      margin-top: 0.5em;
      width: 38px;
      height: 22px;
      margin-top: 2.5em;
  }
}