.le_musee h2 {
    color: white;
    font-family: Rufina;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
}

.le_musee p {
    color: white;
    font-family: Rufina;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 230%;
}