.le_musee .para {
    color: white;
    font-family: Rufina;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 230%;
}

.blocs{
    text-align: center;
    width: 100%;
}

.blocs img{
    width:35%;
    height:35%;
}

.lettrine{
    font-size: 350px;
    font-weight: 400;
    font-family: 'Chomsky';
    position: absolute;
    color: rgba(255, 255, 255, 0.15);
    user-select: none;
}

.bloc1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 10%;
    text-align: left;
    flex-wrap: wrap;
}

.bloc1 img{
    margin: auto;
    
}

.bloc1 .lettrine{
    left: 20%;
}

.le-musee .para{
    display: table;
    line-height: 200%;
    width:400px;
    margin-left: 10%;
    margin-right: 10%;
}

.trait-bloc{
    position: relative;
    margin-bottom: 10%;
    width:50%;
    height: 3px;
}

.bloc2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    flex-wrap: wrap;
    margin-bottom: 10%;

}

.bloc2 img{
    margin: auto;
    
}

.bloc2 .lettrine{
    text-align: right;
    right: 20%;
}

.trait-bloc2{
    position: relative;
    margin-bottom: 0;
    width:50%;
    height: 3px;
}

.carousel-item{
    height: 486px;
    width: 595px;
}

