.video-bg{
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-position: center;
    size: cover;  
}

.video-bg video{
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   top: 0;  
   left: 0;
}

.video-bg .degrade{
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.texte-accueil{
    position: relative;
    display: block;
    margin-top: 350px;
    margin-left: 100px;
    z-index: 3;
}

.titre-txt-accueil{
    font-weight: normal;
    line-height: 0px;
}

.bouton{
    outline-style: solid;
    outline-color: rgb(202, 172, 53);
    display: flex;
    text-align: center;  
    width: 250px;
    height: 50px;
    background-color: rgba(202, 172, 53, 0.16);
    position: relative;
    margin-top: 50px;
    color: white;
}

.texte-bouton{
    margin-left: 10px;
    position: absolute;
    transform: translateY(-17.5%);

}

.trait-bouton{
    position: absolute;
    margin-left: 72.5%;
    transform: translateY(50%);
    height: 25px;
    width: 1px;
}

.fleche-bouton{
    width: 15%;
    height: 15%;
    margin-left: 80%;
    position: absolute;
    bottom: 42.5%;
}