h1 {
    display: block;
    font-size: 36px;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Rufina script=latin rev=2";
    margin-left: 100px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Libre Caslon Display', serif;
    margin-left: 100px;
}

h3{
    font-weight: normal;
    line-height: 0px;
    margin-top: 2%;
    font-family: 'Libre Caslon Display', serif;
    letter-spacing: 0.2em;
    font-size: 18px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Rufina', serif;
    font-size: 18px;
    list-style-type: none;
}

.video-bg{
    justify-content: center;
    position: relative;
    overflow: hidden;
    height: 100vh;
    background-position: center;
    size: cover;  
}

.video-bg video{
   width: 100%;
   height: 100%;
   object-fit: cover;
   position: absolute;
   top: 0;  
   left: 0;
}

.video-bg .degrade{
    position: absolute;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.texte-accueil{
    position: relative;
    margin-top: 350px;
    margin-left: 0px;
    z-index: 3;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.54) 0%, rgba(0, 0, 0, 0) 100%);

}

.titre-txt-accueil{
    font-weight: normal;
    margin-top: -17px;
}

.box-bas{
    position: relative;
    text-align: center;
    z-index: 8;
    top: 17%;
    left: 0%;   
}

.img {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media (max-width: 768px) {
    .video {
      display: none;
    }
    .img {
      display: block;
    }
    .texte-accueil{
        position: relative;
        margin-top: 185px;
        margin-left: 0px;
        z-index: 3;
        background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .boutonmodif{
        transform: translateX(-86px);
    }
    
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 24px;
    }
  }