.titre_ h2 {
    color: white;
    font-family: Rufina;
    font-style: normal;
    font-weight: normal;
    display: table;
    font-family: Rufina;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    margin-left: 110px;
    margin-top: 110px;
}

.trait-titre{
    position: relative;
    left: 7.5%;
    top: -50px;
    width: 15%;
}

