.titre_ h2 {
    color: white;
    font-family: Rufina;
    font-style: normal;
    font-weight: normal;
    display: table;
    font-family: Rufina;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    margin-left: 110px;
    margin-top: 110px;
}

.trait-titre{
    position: relative;
    left: 7.5%;
    top: -50px;
    width: 15%;
}

@media screen and(max-width:1000px){
    .trait-titre{
        position: relative;
        left: 7.5%;
        top: -50px;
        width: 85%;
    }
    .titre_ h2 {
      text-align: center;
      margin-left: 100px;
      margin-top: 37px;
    }
    
}